<nav class="navbar">


    <div class="logo">

        <a href="/">
            Jason
        </a>

    </div>



    <div class="menu">


        <a href="/">
            首页
        </a>


        <a href="/services">
            服务
        </a>


        <a href="/vehicle">
            车辆
        </a>



        <a href="/stories">
            真实案例
        </a>



        <a href="/areas">
            服务区域
        </a>



        <a href="/chat">
            AI智能询价
        </a>



        <a href="/quote">
            在线预约
        </a>



        <a href="/contact">
            联系Jason
        </a>


    </div>


</nav>