{% extends "base.html" %}


{% block title %}
Jason Airport Transportation Quote | Los Angeles Private Driver
{% endblock %}


{% block description %}
Request a quote for Jason Los Angeles private transportation,
airport pickup, Disneyland transportation and long distance rides.
{% endblock %}



{% block content %}



<header>

<h1>
Jason
</h1>


<p>
Airport Transportation Quote
</p>


<p>
中文私人机场接送报价
</p>


</header>





<section>


<h2>
预约询价
</h2>




<form id="quoteForm">



<label>
姓名
</label>

<br>

<input 
name="customer_name"
required>



<br><br>




<label>
联系方式
</label>

<br>


<input 
name="contact">



<br><br>




<label>
服务需求
</label>

<br>



<textarea
name="message"
rows="8"
placeholder="
例如:
8月10日 LAX接机
2个人
3个行李
送到Rowland Heights
">
</textarea>




<br><br>




<button 
type="submit"
id="submitButton">

提交询价

</button>



</form>





<p id="result"></p>



</section>





<script>


document
.getElementById("quoteForm")
.addEventListener(
"submit",
async function(e){


e.preventDefault();



const button =
document.getElementById("submitButton");



button.disabled = true;

button.innerHTML = "正在提交...";




const data = {


customer_name:

document.querySelector(
'[name="customer_name"]'
).value,



source:

"Website",



message:

document.querySelector(
'[name="message"]'
).value


};





try {


const response = await fetch(


"/api/v1/inquiries",


{


method:"POST",


headers:{


"Content-Type":"application/json"


},


body:

JSON.stringify(data)



}



);




if(!response.ok){


throw new Error("提交失败");


}





await response.json();





document
.getElementById("result")
.innerHTML =


`
<div style="
margin-top:20px;
padding:20px;
background:#e8f5e9;
border-radius:10px;
font-size:18px;
">


✅ 提交成功！


<br><br>


感谢您的咨询。


<br>


Jason 会尽快回复您确认接送详情。


<br><br>


请不要重复提交。


</div>
`;



button.innerHTML="已提交";



}

catch(error){


document
.getElementById("result")
.innerHTML =


`
<div style="
margin-top:20px;
padding:20px;
background:#ffebee;
border-radius:10px;
">

❌ 提交失败，请稍后再试。

</div>
`;



button.disabled=false;

button.innerHTML="提交询价";


}



}

);



</script>




{% endblock %}